# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tauri
src-tauri/target/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Rust
**/*.rs.bk
*.pdb

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Databases
*.db
*.db-shm
*.db-wal


